<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="opensecurity.whatsappautoclean" >
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".AutoCleaner"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:icon="@drawable/home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".AutoCleanService"
            android:enabled="true"
            android:exported="false">

        </service>
        <receiver android:name=".AutoCleanReceiver"
            android:enabled="true"
            android:exported="false">

        </receiver>

    </application>

</manifest>
